/* Omnibar */
.toolbar, .toolbar-button { font-family: "yieldmore-icons"; }
.toolbar { position: sticky; top: 20px; right: 60px; z-index: 999999; text-align: right; float: right; }
.toolbar span { border-radius: 20px; font-weight: bold; color: #fff; text-align: center;
  display: inline-block; margin: 2px; line-height: 38px; min-width: 40px; padding-top: 2px; }
.toolbar span { display: block; background-color: #23282D; color: #9EA3A8; font-size: 1.3em; }
.toolbar span:hover { color: #A6FF59; }
.toolbar .name { font-family: Inter!important; padding: 2px 6px 2px 6px; font-weight: normal; color: #666; }
.toolbar .name:hover { color: #333; text-decoration: underline; }
.toolbar .product-name { background-color: #A3EACF; }
.toolbar .category-name { background-color: #86C65F; }


/* https://bitbucket.org/yieldmore2/legacy/src/master/wp-content/plugins/wp-biblios/assets/styles.css */
@charset "UTF-8";

@font-face {
  font-family: "yieldmore-icons";
  src:url("fonts/yieldmore-icons.eot");
  src:url("fonts/yieldmore-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/yieldmore-icons.woff") format("woff"),
    url("fonts/yieldmore-icons.ttf") format("truetype"),
    url("fonts/yieldmore-icons.svg#yieldmore-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "yieldmore-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:not(.icon-angle-up):not(.icon-instagram):not(.icon-facebook):before,
[class*=" icon-"]:not(.icon-angle-up):not(.icon-instagram):not(.icon-facebook):before {
  font-family: "yieldmore-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cse:before {
  content: "\67";
}
.icon-search:before {
  content: "\66";
}
.icon-help:before {
  content: "\68";
}
.icon-cat-prev:before {
  content: "\74";
}
.icon-cat-next:before {
  content: "\62";
}
.icon-omnibar:before {
  content: "\6f";
}
.icon-menu:before {
  content: "\63";
}
.icon-next:before {
  content: "\6e";
}
.icon-prev:before {
  content: "\70";
}
