.catalogue-byline { font-size: 120%; letter-spacing: 2px; font-weight: bold; }
.catalogue-container { background-color: #333; }

#portfolio-filters li { display: inline-block; margin: 0 15px 8px 0; list-style-type: none; padding: 12px; border-radius: 12px; font-weight: bold; letter-spacing: 2px; }

#mozza-search label { padding: 0 6px 0 6px; }
#mozza-search label input { margin-right: 6px; }
#mozza-search .search-text { width: 150px; }

#mozza-summary { margin: 20px 0 30px 0; display: none; }
#mozza-summary .order-items { border-collapse: collapse; }
#mozza-summary .order-items th, #mozza-summary .order-items td { padding: 6px; font-family: 'Inter', 'Lato', sans-serif; }

.order-item h4 { border: 5px solid #A5EAD1; }
.order-item { padding: 20px; }
.order-item .outer { padding: 10px; background-color: #fff; }
.order-item h4, p.category { padding: 12px; text-align: center; letter-spacing: 1px; margin-bottom: 8px; }
.order-item h4 { font-weight: bold; }
.order-item .short-desc { text-align: center; font-weight: bold; margin-top: 6px; text-decoration: underline; }
.order-item p.desc { margin-bottom: 5px; }

.price-and-add td { vertical-align: top; }

.toggle-cart { font-weight: 80%; background-color: #8D9795; color: white; padding: 6px; cursor: pointer; margin-left: 12px; }
.order-item .quantity-div { display: none; }
.order-item.filter-cart .quantity-div { display: block; }
.filter-cart .quantity-div { margin-top: 6px; }
.quantity-div .quantity-value { width: 40px; background-color: #ccc; }
