<div class="toolbar">
	<span class="icon-toolbar icon-menu" title="toolbar" style="display: inline-block;"></span>
	<br />
	<span class="name category-name">[click prev/next]</span>
	<span class="icon-cat-prev" title="Previous Category" data-direction="previous" style="display: inline-block;"></span>
	<span class="icon-cat-next" title="Next Category" data-direction="next" style="display: inline-block;"></span>
	<br />
	<span class="name product-name">[click prev/next]</span>
	<span class="icon-prev" title="move to previous" data-direction="previous" style="display: inline-block;"></span>
	<span class="icon-next" title="move to next" data-direction="next" style="display: inline-block;"></span>
	<br />
	<span class="icon-search" title="search" data-focus=".search-form .search-field" style="display: inline-block;"></span>
	<span class="icon-help" title="help" style="display: inline-block;"></span>
</div>