#logo img { height: auto!important; }

p.all-ingredients, .price-and-add { border-top: 2px solid #aaa; }
p.ingredients-list { border-bottom: 2px solid #aaa; }
p.all-ingredients, p.ingredients, p.ingredients-list { margin: 2px; }

.blurbs-container div { border: 1px solid #666; padding: 8px; border-radius: 6px; background-color: #fff; }
.blurbs-container em { display: none; }
.blurbs-container div:hover { z-index: 101; }
.blurbs-container div:hover em { display: block; }

.blurbs-container {
background: #A8C1B3;
background: -moz-radial-gradient(circle closest-side at 50% 45%,  rgba(72,133,186,1) 0%, rgba(60,112,161,1) 100%, rgba(26,49,82,1) 500%);
background: -webkit-radial-gradient(circle closest-side at 50% 45%,  rgba(72,133,186,1) 0%,rgba(60,112,161,1) 100%,rgba(26,49,82,1) 500%);
background: radial-gradient(circle closest-side at 50% 45%,  rgba(72,133,186,1) 0%,rgba(60,112,161,1) 100%,rgba(26,49,82,1) 500%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4885ba', endColorstr='#1a3152',GradientType=1);
}

.amadeus-credits { color: #fff!important; }
